img{
    width: 250px;
}
.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 20px;
    padding: 15px;
}
.country{
    background-color: darkcyan;
    color: azure;
    width: 320px;
    height: 300px;
    margin: auto;
    padding: 18px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Medium devices (landscape tablets, 768px and up) */
    body{
        background-color: burlywood;
    }
    .countries{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

/* Large devices (laptops/desktops, 992px and up) */
    body{
        background-color: burlywood;
    }
    .countries{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }   

/* Extra large devices (large laptops and desktops, 1200px and up) */
    body{
        background-color: burlywood;
    }
    .countries{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }   